@page "/about"

<PageTitle>About Us</PageTitle>

<h1>About Us</h1>

<p>
We are a group located in East Lyme, CT dedicated to improving our community and the resources around us.
</p>

<h2>Members</h2>

<p>
Founder: Eric Yang - https://github.com/xlq902
<br>
[anonymous] - https://github.com/bentley007
<br>
Member: Aaryan Sagar - https://github.com/AarySlayz12
<br>
[anonymous] - https://github.com/Pro-gamer9206
</p>
