@page "/"

<PageTitle>Index</PageTitle>

<h1>Home</h1>

Welcome to the website of the New London Regional Programming Group!

Thank you for visiting us.

We strive to serve our community in the Greater New London County.

More updates to the website should be coming soon.

